body {
    background-image: url(../img/wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
}

.last-modified {
    color: rgba(207, 207, 207, 0.842);
}


/* 
.theme-button:hover {
    background-image: url(../img/sun_yellow.png);
} */

.list-labs p:hover {
    text-shadow: 0 0 15px white;
}

.form-example {
    border: 1px solid white;
    box-shadow: 0 0 4px white, 0 0 20px rgba(179, 179, 179, 0.527);
}

span.focus {
    color: rgb(199, 134, 77);
    text-shadow: 0 0 5px black;
}

label.day-of-week {
    background-color: rgba(0, 0, 0, 0.322);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.384), 0 0 5px rgba(0, 0, 0, 0.295);
}

label.day-of-week:hover {
    cursor: pointer;
    background-color: rgba(82, 82, 82, 0.671);
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
    background-color: rgb(56, 56, 56);
    background-image: url(../img/wood-2.jpg);
    color: white;
    box-shadow: inset 0 0 5px black, inset 0 0 10px black;
    border-color: rgb(73, 63, 63);
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover {
    color: rgb(141, 126, 92);
    text-shadow: 0 0 3px black;
    text-decoration: underline;
}

input[type="submit"]:active,
input[type="button"]:active {
    color: rgb(66, 59, 59);
    box-shadow: inset 0 0 5px black, inset 0 0 10px black, inset 0 0 15px black, 0 0 4px gray;
}

.image-click {
    border: 4px solid rgba(150, 150, 150, 0.863);
}

.image-click:hover {
    background-color: rgba(99, 99, 99, 0.349);
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.322);
    cursor: pointer;
}

#reset-images {
    background-color: rgb(56, 56, 56);
    background-image: url(../img/wood-2.jpg);
    color: white;
    box-shadow: inset 0 0 5px black, inset 0 0 10px black;
    border-color: rgb(73, 63, 63);
}

#reset-images:hover {
    color: rgb(141, 126, 92);
    text-shadow: 0 0 3px black;
    text-decoration: underline;
}

#reset-images:active {
    color: rgb(66, 59, 59);
    box-shadow: inset 0 0 5px black, inset 0 0 10px black, inset 0 0 15px black, 0 0 4px gray;
}

#copyring {
    color: rgba(156, 156, 156, 0.562);
}

#copyring:hover {
    color: rgba(180, 180, 180, 0.603);
}

.table-header {
    background: rgba(219, 219, 219, 0.815);
    color: black;
}

.table-countries,
.table-population,
.table-files {
    border: 2px solid rgb(255, 255, 255);
}

.table-countries *,
.table-files * {
    border-top: 1px solid rgb(206, 206, 206);
    border-bottom: 1px solid rgb(206, 206, 206);
}

.odd {
    background: rgba(94, 94, 94, 0.562);
}

.even {
    background: rgba(53, 53, 53, 0.562);
}

hr {
    box-shadow: 0 0 2px white, 0 0 20px rgba(179, 179, 179, 0.527);
    background-color: white;
}


/* Scrolbar chrome */

::-webkit-scrollbar-thumb:hover {
    background: #becac3;
}

.nav-elem:hover {
    background: rgba(212, 212, 212, 0.151);
}

div.to-main {
    background-image: url(../img/home_light.png);
}

.theme-button {
    background-image: url(../img/sun_light.png);
}

div.mail-me {
    background-image: url(../img/mail_light.png);
}

div.telegram-me {
    background-image: url(../img/telegram_light.png);
}

div.my-git {
    background-image: url(../img/github_light.png);
}