@font-face {
    font-family: "Gotic header";
    src: url("../fonts/gotic4.otf");
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    background-image: url(../img/wall.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    padding: 25px;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    outline: none;
}

div.main {
    width: 80%;
    height: 100%;
    text-align: center;
    margin: auto;
}

.header {
    font-family: "Gotic header";
}

h1.header {
    font-size: 35px;
}

h2.header {
    font-size: 27px;
}

.list-labs {
    width: 50%;
    margin: auto;
    text-align: center;
}

.list-labs p {
    margin-bottom: 25px;
    font-size: 18px;
    position: relative;
    transition: all 0.2s;
}

.list-labs p:hover {
    text-indent: 10px;
    margin-bottom: 23px;
    font-size: 20px;
    text-shadow: 0 0 15px white;
}

.form-example {
    text-align: center;
    border: 1px solid white;
    box-shadow: 0 0 4px white, 0 0 20px rgba(179, 179, 179, 0.527);
    border-radius: 5px;
    max-width: 350px;
    min-width: 200px;
    padding: 20px;
    margin: auto;
}

.form-first-example {
    height: 70px;
}

.form-second-example {
    height: 85px;
}

.form-third-example {
    height: 110px;
}

.form-fourth-example {
    height: 135px;
}

.form-fifth-example {
    height: 170px;
}

.form-sixth-example {
    height: 205px;
}


/* #form-seventh-example {
} */

input {
    margin: 4px;
}

span.focus {
    color: rgb(126, 97, 71);
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 0 0 5px black;
}

#day-of-week-block {
    margin: auto;
    width: 100px;
    text-align: left;
    margin-left: 10%;
}

label.day-of-week {
    background-color: rgba(0, 0, 0, 0.322);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.384), 0 0 5px rgba(0, 0, 0, 0.295);
}

label.day-of-week:hover {
    background-color: rgba(82, 82, 82, 0.671);
}

input[type="submit"] {
    background-color: rgb(56, 56, 56);
    height: 40px;
    border-radius: 15px;
    background-image: url(../img/wood-2.jpg);
    background-repeat: repeat;
    color: white;
    font-weight: bolder;
    box-shadow: inset 0 0 5px black, inset 0 0 10px black;
    border-color: rgb(73, 63, 63);
}

input[type="submit"]:hover {
    color: rgb(141, 126, 92);
    text-shadow: 0 0 3px black;
    text-decoration: underline;
}

input[type="submit"]:active {
    color: rgb(66, 59, 59);
    box-shadow: inset 0 0 5px black, inset 0 0 10px black, inset 0 0 15px black, 0 0 4px gray;
}

input[type="number"] {
    width: 50px;
    text-align: center;
}

.result {
    width: 50%;
    text-align: center;
    font-size: 18px;
    max-height: 300px;
    overflow-x: auto;
    font-family: Consolas, monaco, monospace;
}

.image-click {
    height: 250px;
    margin: 15px;
    border: 4px solid rgba(150, 150, 150, 0.863);
    border-radius: 15px;
}

.image-click:hover {
    background-color: rgba(99, 99, 99, 0.349);
    box-shadow: 0 0 5px rgba(138, 138, 138, 0.322);
    cursor: pointer;
}

#reset-images {
    background-color: rgb(56, 56, 56);
    height: 40px;
    border-radius: 15px;
    background-image: url(../img/wood-2.jpg);
    background-repeat: repeat;
    color: white;
    font-weight: bolder;
    box-shadow: inset 0 0 5px black, inset 0 0 10px black;
    border-color: rgb(73, 63, 63);
    display: block;
    width: 100px;
    height: 23px;
    margin: auto;
    margin-top: 5px;
    padding: 5px;
}

#reset-images:hover {
    color: rgb(141, 126, 92);
    text-shadow: 0 0 3px black;
    text-decoration: underline;
}

#reset-images:active {
    color: rgb(66, 59, 59);
    box-shadow: inset 0 0 5px black, inset 0 0 10px black, inset 0 0 15px black, 0 0 4px gray;
}

.image-clicked {
    height: 120px;
}

#copyring {
    position: fixed;
    color: rgba(156, 156, 156, 0.562);
    font-size: 17px;
    right: 5;
    top: 5;
}

#copyring:hover {
    color: rgba(180, 180, 180, 0.603);
}


/* Scrolbar chrome */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #5f5f5f;
    border-radius: 10px;
    width: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #becac3;
}